.background_photo{
	width: 400px;
	height: 300px;
	border-radius: 7px;
}

.profile_image{
	width: 100px;
	border-radius: 10px;
}
.description_block{
	padding: 10px;
}
.aboutMeBtn{
	user-select: none;
	cursor: pointer;
}
.contacts{
	padding-left: 10px;
}